<div class="card border-secondary">
  <div class="card-header text-secondary fw-bold">
    Cart
  </div>

  <div class="card-body">
    <div>
      <div class="row">
        <div class="col-md-2 fw-bold">Produit</div>
        <div class="col-md-2 fw-bold text-center">Prix Unitaire</div>
        <div class="col-md-2 fw-bold text-center">Quantité</div>
        <div class="col-md-2 fw-bold text-end">Prix total</div>
      </div>

      <div>
        <app-cart-item />
      </div>
    </div>

  </div>

</div>
