<div class="card border-secondary">
  <div class='card-header text-secondary fw-bold'>
    <div class="row">
      <div class="col-md-12">Toale de vos achats</div>
    </div>
  </div>
  <div class='card-body'>
    <div class="row">
      <div class="col-md-4">Toal sans livraison:</div>
      <div class="col-md-4 text-end">
        <b>Prix total sans livraison</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">Livraison</div>
      <b>Si prix < borne inf ajouter 7 de livraison sinon 0</b>
    </div>
    <div class="row">
      <div class="col-md-4">Taxe: (18%)</div>
      <div class="col-md-4 text-end">
        <b>Prix ttc</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><b>Total:</b></div>
      <div class="col-md-4 text-end">
        <b>Prix Total</b>
      </div>
    </div>
  </div>
</div>
